---
import Layout from '../../../layouts/Layout.astro';
import Gallery from '../../../components/Gallery.svelte'

const metaData = {
	title: 'Parish Festival 2023',
	desciption: 'Photos from the Parish Festival 2023',
}

const amountOfImages = 303;

let images = [];

for (let i = 1; i <= amountOfImages; i++) {
	images.push(            {
              largeURL:
                `${import.meta.env.PUBLIC_ASSETS}images/2023/2023-06-parish-festival/${i}.JPG`,
              thumbnailURL:
                `${import.meta.env.PUBLIC_ASSETS}images/2023/2023-06-parish-festival/thumbnails/${i}.JPG`,
              width: 1200,
              height: 800,
            }
						)
}
---

<Layout {...metaData}>
	<h1>Parish Festival 2023</h1>
  	<Gallery client:load galleryID="june-2023-parish-festival" images={images} />
</Layout>
