---
import Layout from '../../../layouts/Layout.astro'
import Gallery from '../../../components/Gallery.svelte'

const metaData = {
	title: 'Declaration of St.Thomas Syro Malabar Community, Vienna by Vicar General Rev.Fr. Yuri Kolassa on 24th Dec 2023',
	desciption: 'Declaration of St.Thomas Syro Malabar Community, Vienna by Vicar General Rev.Fr. Yuri Kolassa on 24th Dec 2023',
}

const amountOfImages = 60; 

let images = []

for (let i = 0; i <= amountOfImages; i++) {
	images.push({
		largeURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2023/2023-12-christmas-liturgy-tivoli/${i}.jpg`,
		thumbnailURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2023/2023-12-christmas-liturgy-tivoli/thumbnails/${i}.jpg`,
		width: 1200,
		height: 800,
	})
}
---

<Layout {...metaData}>
	<h1>{metaData.title}</h1>
	<Gallery
		client:load
		galleryID={metaData.title.trim()}
		images={images}
	/>
</Layout>
