---
import Layout from '../layouts/Layout.astro'
import NewsCard from '../components/NewsCard.svelte'

const posts = (await Astro.glob('./news/*.{md,mdx}')).sort(
	(a, b) =>
		new Date(
			b.frontmatter.updateDate
				? b.frontmatter.updateDate
				: b.frontmatter.pubDate
		).valueOf() -
		new Date(
			a.frontmatter.updateDate
				? a.frontmatter.updateDate
				: a.frontmatter.pubDate
		).valueOf()
)
---

<Layout>
	<ul>
		{
			posts.map(post => (
				<li>
					<NewsCard
						title={post.frontmatter.title}
						url={post.url}
						image={post.frontmatter.heroImage}
						pubDate={post.frontmatter.pubDate}
						updateDate={post.frontmatter.updateDate}
					/>
				</li>
			))
		}
	</ul>
</Layout>

<style>
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin: 0;
		padding: 0;
	}
</style>
