---
import Layout from '../layouts/Layout.astro'
import NewsCard from '../components/NewsCard.svelte'

const posts = (await Astro.glob('./news/*/*.{md,mdx}')).sort(
	(a, b) =>
		new Date(
			b.frontmatter.updateDate
				? b.frontmatter.updateDate
				: b.frontmatter.pubDate
		).valueOf() -
		new Date(
			a.frontmatter.updateDate
				? a.frontmatter.updateDate
				: a.frontmatter.pubDate
		).valueOf()
)
---

<Layout>
	<section>
		<h1>Regular Sunday Mass</h1>
		<h2>Pfarre Maria Lourdes [Meidling]</h2>
		<p>Sunday Mass at <em>11:30 hrs.</em></p>

		<h2>Pfarre Auferstehung Christi [Saikogasse]</h2>
		<p>Sunday Mass at <em>17:00 hrs.</em></p>
	</section>
	<section>
		<h1>News</h1>
		<ul>
			{
				posts.map(post => (
					<li>
						<NewsCard
							title={post.frontmatter.title}
							url={post.url}
							image={post.frontmatter.heroImage}
							pubDate={post.frontmatter.pubDate}
							updateDate={post.frontmatter.updateDate}
						/>
					</li>
				))
			}
		</ul>
	</section>
</Layout>

<style>
	h2 {
		font-size: 1.2rem;
	}
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin: 0;
		padding: 0;
	}
</style>
