---
import Layout from '../layouts/Layout.astro'
import Profile from '../components/Profile.svelte'
interface ProfileProp {
	img: string
	name: string
}

const metaData = {
	title: 'Council',
	desciption:
		'Here you can find the structure of our pastoral and financial council, as well as other other roles filled by our members.',
}

const pastoralCouncil: ProfileProp[] = [
	{
		img: '/jiss-mullankuzhy.png',
		name: 'Jiss Mullankuzhy',
	},
	{
		img: '/remya-veliyath.png',
		name: 'Remya Veliyath',

	},
	{
		img: '/christi-kalapurackal.png',
		name: 'Christi Kalapurackal',

	},
	{
		img: '/joel-joseph-ernakeril.png',
		name: 'Joel Joseph Ernakeril',

	},
	{
		img: '/riya-maliyamprurackal.png',
		name: 'Riya Malizampurackal',
		
	},
	{
		img: '/dominik-maniyankerikalam.png',
		name: 'Dominic Maniyankerikalam',
		
	},
	{
		img: '/varsha-pallikunnel.png',
		name: 'Varsha Pallikunnel',

	},
	{
		img: '/justin-srambical.png',
		name: 'Justin Srambical',

	},
	
]

---

<Layout {...metaData}>
	<h1>SMC Youth Vienna</h1>
	<section>
		<h2>Leadership Team 2022 - 2027</h2>
	
		 <p><strong>Coordinating Convener:</strong> Greshma Maria Pallikunnel</p>
		<div class='council'>
			{
				pastoralCouncil.map(member => (

					<Profile
					image={`${import.meta.env.PUBLIC_ASSETS}images/profiles${member.img}`}
					name={member.name}
					role={member.role}
					roleTranslation={member.roleTranslation}
					/>
				))
			}
		</div>
	</section>
</Layout>
<style>
	.council {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
		grid-template-rows: 1fr auto;
		justify-items: center;
		gap: 32px;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 8px;
		list-style: circle;
		padding: 0 12px;
	}
</style>
