---
import Layout from '../../../layouts/Layout.astro';
import Gallery from '../../../components/Gallery.svelte'

const metaData = {
	title: 'Christmas Carol Singing',
	desciption: 'Photos from the christmas carol singing event.',
}

const amountOfImages = 220;

let images = [];

for (let i = 1; i <= amountOfImages; i++) {
	images.push(            {
              largeURL:
                `${import.meta.env.PUBLIC_ASSETS}images/2022/2022-dec-carol-singing/${i}.jpg`,
              thumbnailURL:
                `${import.meta.env.PUBLIC_ASSETS}images/2022/2022-dec-carol-singing/thumbnails/${i}.jpg`,
              width: 1200,
              height: 800,
            }
						)
}
---

<Layout {...metaData}>
	<h1>Awake Austria 2022</h1>
  	<Gallery client:load galleryID="dec-2022-carol-singing" images={images} />
</Layout>